.nav__item {
    color: $secondary-color;
    padding: $sibling-space 0;
    border-radius: 5px;
    font-family: $primary-font;
    font-weight: $font-weight--heavy;
    &:hover, &:active {
    background-color: $primary-color;
    color: #fff;
    }
}
.nav__item a {
    text-decoration: none;
}